<main class="main-section">
  <article>
    <div class="impact-section">
      <h1>Impacto ecológico</h1>
      <p>Debido al impacto ambiental siendo las acciones humanas <br> 
        las que modifican el ambiente, Eco-store <br> 
        se compromete a elaborar sus productos de manera <br>
         artesanal y con materiales que favorecen al cuidado <br>
          del medio ambiente.</p>
      <button>
        Conoce más
      </button>
    </div>
    <div class="image-section">
      <img src="assets/img/main.jpg" alt="">
    </div>
  </article>
  <section class="product-section">
    <div class="healthcare">
      <h2>Cuidado de la salud</h2>
    </div>
    <div class="furniture">
      <h2>Decoración del hogar</h2>
    </div>
  </section>
  <section class="info-section">
    <div class="about-us">
      <h2>¿Por qué nosotros?</h2>
      <div class="earth">
        <img src="" alt="">
        <p></p>
      </div>
      <div class="innovation">
        <img src="" alt="">
        <p></p>
      </div>
    </div>
    <div class="gallery">
      <h2>Galería de estilos</h2>
      <div>
        <img src="" alt="">
      </div>
      <div>
        <img src="" alt="">
      </div>
      <div>
        <img src="" alt="">
      </div>
    </div>
    <div class="location">
      <h2>Encuéntranos en</h2>
      <div class="map">
        <img src="" alt="">
      </div>
      <p></p>
    </div>
  </section>
</main>