@import './../../styles/variables';

.navbar {
  width: auto;
  display: flex;
  justify-content: space-between;
  color: $primary-text-color;
  padding: 15px;

  p {
    font-size: $paragraph-size;
    padding-left: 30px;
  }

  .icons {
    display: flex;
    gap: 15px;

    button {
      background: none;
      border-style: none;
    }
  }
}